{% load i18n %}

{{ svg_sprite|safe }}

<div class="edflex_author_block">
    {% if resource %}
        <p class="edflex-preview-text">{% trans "Look in LMS"%}</p>
    {% else %}
        <div class="inner-block blue-block">
            <div class="left-data">
                <div class="block-icon">
                    <svg><use xlink:href="#book2"></use></svg>
                </div>
                <strong>{% trans "Use External Content component" %}</strong>
                <p>
                    {% trans "Add resources to your course, curated by Edflex technology. Choose from a selection of MOOCs, Videos, Podcasts, Books, and Articles to accompany and enhance the creation of your trainings!" %}
                </p>
            </div>
            <div class="icon-holder">
                <svg class="books-big"><use xlink:href="#books-big"></use></svg>
            </div>
        </div>
        <div class="inner-block yellow-block">
            <div class="left-data">
                <div class="block-icon">
                    <svg><use xlink:href="#icon-play"></use></svg>
                </div>
                <strong>{% trans "You are now ready" %}</strong>
                <p>{% trans "Integrate external content to enrich your course!" %}</p>
            </div>
            <div class="icon-holder">
                <svg class="play-big"><use xlink:href="#icon-play"></use></svg>
            </div>
        </div>
    {% endif %}
</div>
