{% load i18n %}

<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap" rel="stylesheet">

{{ svg_sprite|safe }}

<div class="edflex_block" data-format="{{ resource.type }}">
    {% if resource %}
    <div class="ef-title">
        <h2>{{ resource.title }}</h2>
        <span class="title-help icon-{{ resource.type }}">
            <svg>
                <use xlink:href="#{{ resource.type }}"></use>
            </svg>
            <span>{{ resource.type }}</span>
        </span>
    </div>

    {% if resource.type == 'mooc' or resource.type == 'article' or resource.type == 'book' %}
    <div class="block-details__holder">
        <div class="block-details__media">
            {% if resource.embed_url %}
            <div class="block-details__video">
                <iframe src="{{ resource.embed_url }}" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            </div>
            {% elif resource.image and resource.image.medium %}
            <img src="{{ resource.image.medium }}" class="img-responsive" alt="{{ resource.title }}">
            {% endif %}
        </div>

        <button class="btn js-access-resource" title="{{ resource.title }}">
            {% if resource.type == 'article' %}
            {% trans "Read the article" %}
            {% elif resource.type == 'book' %}
            {% trans "Read the book" %}
            {% else %}
            {% trans "Access the course" %}
            {% endif %}
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </button>
    </div>
    {% endif %}

    {% if resource.type == 'video' %}
    <div class="product-video">
        <iframe
            id="youtube-player"
            type="text/html"
            src="{{ resource.embed_url }}?enablejsapi=1"
            frameborder="0"
            allowfullscreen=""
        ></iframe>
    </div>
    {% endif %}

    {% if resource.type == 'podcast'%}
    <div class="product-podcast">
        <iframe
            class="js-iframe-podcast"
            src="{{ resource.embed_url }}"
            scrolling="no"
            width="100%"
            frameborder="0"
        ></iframe>
    </div>
    {% endif %}

    <div class="features-block">
        <div class="features-block-template">
            <h3 class="medium-title" id="about-content">{% trans "About the content" %}</h3>
            <ul class="features-list student-view">
                {% if stars.total_reviews %}
                <li>
                    <div class="ef-rating">
                        <div class="ef-stars">
                            {% for i in stars.full %}
                            <i class="fa fa-star" aria-hidden="true"></i>
                            {% endfor %}
                            {% for i in stars.half %}
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                            {% endfor %}
                            {% for i in stars.empty %}
                            <i class="fa fa-star fa-star-gray-light" aria-hidden="true"></i>
                            {% endfor %}
                            <span>{{ stars.total_reviews }} {% trans "reviews" %}</span>
                            <div class="reviews">
                                <strong>{{ stars.average }}</strong>
                                <span>{% trans "users’ reviews" %}</span>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
                {% if resource.price %}
                <li class="icon-creditcard">
                    <svg class="icon-box">
                        <use xlink:href="#creditcard-no"></use>
                    </svg>
                    {% if resource.price.amount == 0 %}
                        <span>{% trans "<b>Free</b> access" %}</span>
                    {% else %}
                        <span>{% trans "<b>Paid</b> access" %}</span>
                    {% endif %}
                </li>
                {% endif %}
                {% if resource.is_certifying %}
                <li class="icon-pocket">
                    <svg>
                        <use xlink:href="#pocket"></use>
                    </svg>
                    {% if resource.is_free_certification %}
                        <span>{% trans "<b>Free</b> certificate" %}</span>
                    {% else %}
                        <span>{% trans "<b>Paid</b> certificate" %}</span>
                    {% endif %}
                </li>
                {% endif %}
                {% if resource.duration %}
                <li class="icon-duration">
                    <svg>
                        <use xlink:href="#stopwatch"></use>
                    </svg>
                    <span class="js-resource-duration" data-duration="{{ resource.duration }}"></span>
                </li>
                {% endif %}
                {% if resource.pages %}
                <li class="icon-pages">
                    <svg>
                        <use xlink:href="#stopwatch"></use>
                    </svg>
                    <span>{{ resource.pages }} {% trans "pages" %}</span>
                </li>
                {% endif %}
            </ul>

            {{ resource.description|safe }}

        </div>
    </div>
    {% endif %}
</div>

{% if resource.type == 'mooc' or resource.type == 'article' or resource.type == 'book' %}
<div class="js-modal-overlay" hidden></div>
<div class="js-modal-dialog" hidden>
    <div class="modal-content">
        <span class="js-close">
            <svg>
                <use xlink:href="#icon-close"></use>
            </svg>
        </span>
        <svg class="icon-share"><use xlink:href="#icon-share"></use></svg>
        <div class="modal-body">
            <h3>{% trans "External content" %}</h3>
            <div class="modal-body-text">
                <p>
                    {% blocktrans %}
                    You are about to leave the Triboo platform
                    to follow external training content.
                    We remind you that <b>all content on this
                    portal is always free.</b> However, the
                    certification may have a cost and it is not
                    supported by Triboo.
                    {% endblocktrans %}
                </p>
                <i>{% trans "See you soon on Triboo!" %}</i>
            </div>
            <button class="btn js-confirm-access" data-url="{{ resource.url }}">
                {% trans "Access" %}
            </button>
        </div>
    </div>
</div>
{% endif %}
